openshift-install create cluster --dir /root/cluster-{{ guid }} --log-level=debug
cd /root/ocp && echo "something" > .vault_pass && KUBECONFIG=/root/cluster-{{ guid }}/auth/kubeconfig ansible-playbook ocp_day2.yaml
